@model Project.Models.PCategory

@{
    ViewData["Title"] = "PCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PCategory</h1>

<h4>PCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Products" asp-action="PCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatgName" class="control-label"></label>
                <input asp-for="CatgName" class="form-control" />
                <span asp-validation-for="CatgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

